In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image as PImage
from subprocess import check_call
from PIL import Image, ImageDraw, ImageFont
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, roc_curve, auc

In [40]:
turnover = pd.read_csv("turnover.csv")
turnover['salary'].value_counts()
turnover.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [41]:
# converting salary into categories
turnover["salary"] = turnover["salary"].astype('category').cat.reorder_categories(['low', 'medium', 'high']).cat.codes

In [47]:
print(turnover.head())
turnover.salary.value_counts()

   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                0.38             0.53               2                   157
1                0.80             0.86               5                   262
2                0.11             0.88               7                   272
3                0.72             0.87               5                   223
4                0.37             0.52               2                   159

   time_spend_company  Work_accident  left  promotion_last_5years  sales  \
0                   3              0     1                      0  sales
1                   6              0     1                      0  sales
2                   4              0     1                      0  sales
3                   5              0     1                      0  sales
4                   3              0     1                      0  sales

   salary
0       0
1       1
2       1
3       0
4       0

0    7316
1    6446
2    1237
Name: salary, dtype: int64

In [6]:
df.sample(50)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
934,0.10,0.91,6,285,4,0,1,0,sales,medium
10689,0.89,0.49,4,275,3,0,0,0,management,medium
3308,0.42,0.74,6,218,6,0,0,0,sales,medium
7865,0.85,0.69,4,216,4,0,0,0,management,low
981,0.44,0.55,2,130,3,1,1,0,product_mng,low
11338,0.94,0.65,4,213,2,1,0,0,IT,low
13559,0.14,0.76,4,142,10,0,0,0,management,high
2882,0.92,0.94,5,248,3,0,0,0,technical,medium
2182,0.26,0.85,6,152,4,0,0,0,support,medium
7979,0.53,0.45,5,140,5,0,0,0,technical,low
10509,0.66,0.56,2,104,3,1,0,0,support,medium
5362,0.42,0.47,4,146,3,1,0,0,sales,medium
9671,0.95,0.53,4,143,3,0,0,0,support,low
6625,0.72,0.49,4,148,2,0,0,0,IT,low
8240,0.76,0.70,5,195,3,0,0,0,RandD,low
1258,0.78,0.96,4,241,5,0,1,0,technical,low
14921,0.10,0.86,6,283,4,0,1,0,support,low
8492,0.26,0.91,6,113,2,0,0,0,sales,medium
12329,0.44,0.48,2,148,3,0,1,0,sales,low
74,0.11,0.97,6,277,4,0,1,0,product_mng,medium
6171,0.90,0.72,4,143,3,0,0,0,IT,medium
10978,0.81,0.55,3,199,2,1,0,0,IT,medium
3042,0.91,0.55,4,179,4,0,0,0,IT,low
5332,0.22,0.52,5,109,4,0,0,0,product_mng,low
11858,0.53,0.64,3,168,3,0,0,0,sales,low
5156,0.99,0.76,4,185,5,0,0,0,technical,low
11895,0.60,0.42,2,109,6,0,0,0,sales,low
8866,0.14,0.57,4,207,5,0,0,0,sales,low
13350,0.74,1.00,4,192,4,0,0,0,technical,high
2240,0.61,0.97,3,137,3,0,0,0,accounting,low
3401,0.72,0.84,4,195,2,0,0,0,technical,low
4790,0.70,0.54,4,150,4,0,0,0,technical,low
7750,0.62,0.50,4,198,3,1,0,0,technical,low
3939,0.64,0.80,3,199,3,0,0,0,support,low
1283,0.40,0.55,2,150,3,0,1,0,IT,medium
14087,0.40,0.47,5,173,5,0,0,0,technical,medium
6467,0.77,0.75,3,272,3,0,0,0,technical,low
423,0.40,0.46,2,143,3,0,1,0,technical,high
12284,0.38,0.47,2,144,3,0,1,0,support,low
8858,0.73,0.60,4,222,3,0,0,0,technical,medium
9855,0.67,0.83,3,171,3,1,0,0,marketing,medium
9149,0.56,0.41,6,142,3,0,0,0,product_mng,medium
2303,0.58,0.69,4,223,4,0,0,0,sales,low
10456,0.55,0.50,5,231,3,0,0,0,marketing,low
11843,0.62,0.61,3,266,2,0,0,0,management,high
4033,0.94,0.60,4,215,2,1,0,0,IT,medium
1016,0.40,0.55,2,155,3,0,1,0,sales,low
6993,0.50,0.88,4,172,4,0,0,0,support,medium
6938,0.89,0.57,2,235,3,1,0,0,product_mng,low
2840,0.42,0.94,5,227,5,0,0,0,sales,medium

In [14]:
employee_turnover = df.left.value_counts()

In [18]:
employee_turnover[1] / employee_turnover[0]

0.31247812390619534

In [11]:
df.corr()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
satisfaction_level,1.000000,0.105021,-0.142970,-0.020048,-0.100866,0.058697,-0.388375,0.025605
last_evaluation,0.105021,1.000000,0.349333,0.339742,0.131591,-0.007104,0.006567,-0.008684
number_project,-0.142970,0.349333,1.000000,0.417211,0.196786,-0.004741,0.023787,-0.006064
average_montly_hours,-0.020048,0.339742,0.417211,1.000000,0.127755,-0.010143,0.071287,-0.003544
time_spend_company,-0.100866,0.131591,0.196786,0.127755,1.000000,0.002120,0.144822,0.067433
Work_accident,0.058697,-0.007104,-0.004741,-0.010143,0.002120,1.000000,-0.154622,0.039245
left,-0.388375,0.006567,0.023787,0.071287,0.144822,-0.154622,1.000000,-0.061788
promotion_last_5years,0.025605,-0.008684,-0.006064,-0.003544,0.067433,0.039245,-0.061788,1.000000

In [1]:
df.isnull()

NameError: name 'df' is not defined