In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image as PImage
from subprocess import check_call
from PIL import Image, ImageDraw, ImageFont
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, roc_curve, auc

In [3]:
turnover = pd.read_csv("../data/turnover.csv")
turnover['salary'].value_counts()
turnover.head()
turnover.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [4]:
# converting salary into categories
turnover["salary"] = turnover["salary"].astype('category').cat.reorder_categories(['low', 'medium', 'high']).cat.codes

In [6]:
# turnover.salary.value_counts()
# turnover.rename(columns={'sales': 'department'}, inplace=True)
# turnover.head()
# turnover['department'].value_counts()

0    7316
1    6446
2    1237
Name: salary, dtype: int64

In [ ]:
# converting department into dummies
# department = pd.get_dummies(turnover["department"])
# department.head()

turnover.head()

In [ ]:

# by_department
y = turnover['left']
dep_X = department


# turnover.corr()
# pd.plotting.scatter_matrix(turnover, figsize=(15,15));
department

In [ ]:
# plotting the correlation matrix
# as seaborn is based on matplotlib, we need to use plt.show() to see the plot
sns.heatmap(turnover.corr())
plt.show()

In [ ]:
turnover.info()

In [ ]:
turnover.describe()

In [ ]:
# joining the departments
# turnover = turnover.join(department)
# turnover.head()

In [ ]:
# the percentage of leavers

turnover['left'].value_counts()/len(turnover)

In [ ]:
turnover['left'].value_counts()

In [ ]:
columns = ['satisfaction_level', 'time_spend_company', 'Work_accident', 'salary']
turnover[columns]

In [ ]:
turnover.Work_accident.value_counts()

In [ ]:
top_feat = ['satisfaction_level', 'time_spend_company']

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score

In [ ]:
rf = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=1)

gdbr = GradientBoostingClassifier(learning_rate=0.1,
                                 n_estimators=100, random_state=1)

abr = AdaBoostClassifier(DecisionTreeClassifier(), learning_rate=0.1,
                         n_estimators=100, random_state=1)

In [ ]:

# y = turnover.pop('left').values
y = y
X = turnover[top_feat].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

k = 10 # number of folds in the cross-validation 
print(cross_val_score(rf, X_train, y_train, cv=k))
print(cross_val_score(gdbr, X_train, y_train, cv=k))
print(cross_val_score(abr, X_train, y_train, cv=k));

In [ ]:
import numpy as np
np.unique(y)

In [ ]:
# y_train
turnover.columns

In [ ]:
columns = 
for feat in columns:
    turnover.plot.scatter(x=feat, y='left')

In [ ]:
turnover['satisfaction_level'].value_counts()
# turnover['satisfaction_level'].hist();
# sum(turnover['satisfaction_level']

In [ ]:
# turnover = turnover.join(department)